In [15]:
-- MockContacts Table
DROP TABLE IF EXISTS [dbo].[MockContacts]

CREATE TABLE dbo.MockContacts
(
    [Number] VARCHAR(11) NOT NULL
    , CompanyName VARCHAR(255) NULL
    , FirstName VARCHAR(100) NULL
    , LastName VARCHAR(100) NULL
    , Street VARCHAR(255) NULL
    , City VARCHAR(100) NULL
    , [State] VARCHAR(2) NULL
    , Postal VARCHAR(20) NULL
    , Phone VARCHAR(50) NULL
    , EMail VARCHAR(255) NULL
    , Remarks VARCHAR(2000) NULL
    , [Deceased?] VARCHAR (3) NULL
    , SourceFilename VARCHAR(2000) NOT NULL
    , ETLInsertDatetime DATETIME2(7) NOT NULL CONSTRAINT DF_MockContacts_ETLInsertDatetime DEFAULT (GETUTCDATE())
)

In [7]:
-- MockGifts Table
DROP TABLE IF EXISTS [dbo].[MockGifts]

CREATE TABLE dbo.MockGifts
(
    donor_number VARCHAR(11) NOT NULL
    , gift_id INT NULL
    , first_name VARCHAR(100) NULL
    , last_name VARCHAR(100) NULL
    , [amount received] VARCHAR(100) NULL
    , [date] VARCHAR(100) NULL
    , [credit card type] VARCHAR(100) NULL
    , [payment method] VARCHAR(100) NULL
    , notes VARCHAR(2000) NULL
    , SourceFilename VARCHAR(2000) NOT NULL
    , ETLInsertDatetime DATETIME2(7) NOT NULL CONSTRAINT DF_MockGifts_ETLInsertDatetime DEFAULT (GETUTCDATE())
)

In [8]:
-- MockContactMethods Table
DROP TABLE IF EXISTS [dbo].[MockContactMethods]

CREATE TABLE dbo.MockContactMethods
(
    donor_number VARCHAR(11) NOT NULL
    , Phone VARCHAR(100) NULL
    , [E-mail] VARCHAR(255) NULL
    , Fax VARCHAR(100) NULL
    , SourceFilename VARCHAR(2000) NOT NULL
    , ETLInsertDatetime DATETIME2(7) NOT NULL CONSTRAINT DF_MockContactMethods_ETLInsertDatetime DEFAULT (GETUTCDATE())
)

In [12]:
-- Virtuous Contacts Table
DROP TABLE IF EXISTS
    Contacts
    , ContactTypes

CREATE TABLE Contacts 
(
    LegacyContactId VARCHAR(100) NOT NULL
    , ContactType VARCHAR(30) NOT NULL CONSTRAINT DF_Contacts_ContactType DEFAULT ('Household')
    , ContactName VARCHAR(300) NULL
    , FirstName VARCHAR(100) NOT NULL CONSTRAINT DF_Contacts_FirstName DEFAULT ('FirstName_Placeholder')
    , LastName VARCHAR(100) NOT NULL CONSTRAINT DF_Contacts_LastName DEFAULT ('LastName_Placeholder')
    , HomePhone VARCHAR(50) NULL
    , HomeEmail VARCHAR(255) NULL
    , Address1 VARCHAR(255) NULL
    , City VARCHAR(100) NULL
    , [State] VARCHAR(2) NULL
    , PostalCode VARCHAR(10) NULL
    , IsPrivate VARCHAR(5) NULL
    , IsDeceased VARCHAR(5) NOT NULL
)

CREATE TABLE ContactTypes 
(
    ContactTypeId INT IDENTITY(1,1)
    , ContactType VARCHAR(30)
)

INSERT INTO ContactTypes (ContactType)
VALUES
    ('Household')
    , ('Organization')

In [13]:
-- Virtuous Gifts Table
DROP TABLE IF EXISTS 
    dbo.Gifts
    , dbo.GiftTypes
    , dbo.CreditCardTypes

CREATE TABLE dbo.GiftTypes 
(
    GiftTypeId INT IDENTITY(1,1) NOT NULL
    , GiftType VARCHAR(50) NOT NULL
)

CREATE TABLE dbo.CreditCardTypes 
(
    CreditCardTypeId INT IDENTITY(1,1) NOT NULL
    , CreditCardType VARCHAR(50) NOT NULL
)

CREATE TABLE dbo.Gifts 
(
    LegacyContactId VARCHAR(100) NOT NULL
    , LegacyGiftId INT NOT NULL
    , GiftType VARCHAR(50) NOT NULL CONSTRAINT DF_Gifts_GiftType DEFAULT ('Other')
    , GiftDate DATE NOT NULL
    , GiftAmount DECIMAL(19,4) NOT NULL
    , Notes VARCHAR(2000) NULL
    , CreditCardType VARCHAR(50) NULL
)

INSERT INTO dbo.GiftTypes (GiftType)
VALUES
    ('Cash')
    ,('Credit')
    ,('Check')
    ,('Other')
    ,('Reversing Transaction')

INSERT INTO dbo.CreditCardTypes (CreditCardType)
VALUES
    ('Visa')
    , ('Mastercard')
    , ('AMEX')
    , ('Discover')

In [14]:
-- Virtuous Contact Methods Table

DROP TABLE IF EXISTS 
    dbo.ContactMethods
    , dbo.ContactMethodTypes

CREATE TABLE dbo.ContactMethodTypes
(
    ContactMethodTypeId INT IDENTITY(1,1) NOT NULL
    , ContactMethodType VARCHAR(50) NOT NULL
)

CREATE TABLE dbo.ContactMethods
(
    LegacyContactId VARCHAR(100) NOT NULL
    , [Type] VARCHAR(50) NOT NULL
    , [Value] VARCHAR(50) NOT NULL CONSTRAINT DF_ContactMethods_Value DEFAULT ('Placeholder')
)

INSERT INTO dbo.ContactMethodTypes (ContactMethodType)
VALUES
    ('HomePhone')
    ,('HomeEmail')
    ,('Fax')

In [15]:
-- State Abbreviation Table

DROP TABLE IF EXISTS StateAbbreviations

CREATE TABLE dbo.StateAbbreviations 
(
    StateAbbreviationId INT IDENTITY(1,1) NOT NULL
    , StateAbbreviation VARCHAR(2) NOT NULL
    , StateName VARCHAR(100) NOT NULL
)

INSERT INTO dbo.StateAbbreviations
(
    StateAbbreviation
    , StateName
)
VALUES
('AL','Alabama')
, ('AK','Alaska')
, ('AZ','Arizona')
, ('AR','Arkansas')
, ('CA','California')
, ('CO','Colorado')
, ('CT','Connecticut')
, ('DE','Delaware')
, ('DC','District of Columbia')
, ('FL','Florida')
, ('GA','Georgia')
, ('HI','Hawaii')
, ('ID','Idaho')
, ('IL','Illinois')
, ('IN','Indiana')
, ('IA','Iowa')
, ('KS','Kansas')
, ('KY','Kentucky')
, ('LA','Louisiana')
, ('ME','Maine')
, ('MD','Maryland')
, ('MA','Massachusetts')
, ('MI','Michigan')
, ('MN','Minnesota')
, ('MS','Mississippi')
, ('MO','Missouri')
, ('MT','Montana')
, ('NE','Nebraska')
, ('NV','Nevada')
, ('NH','New Hampshire')
, ('NJ','New Jersey')
, ('NM','New Mexico')
, ('NY','New York')
, ('NC','North Carolina')
, ('ND','North Dakota')
, ('OH','Ohio')
, ('OK','Oklahoma')
, ('OR','Oregon')
, ('PA','Pennsylvania')
, ('PR','Puerto Rico')
, ('RI','Rhode Island')
, ('SC','South Carolina')
, ('SD','South Dakota')
, ('TN','Tennessee')
, ('TX','Texas')
, ('UT','Utah')
, ('VT','Vermont')
, ('VA','Virginia')
, ('WA','Washington')
, ('WV','West Virginia')
, ('WI','Wisconsin')
, ('WY','Wyoming')

In [16]:
-- Anomaly Log Table

DROP TABLE IF EXISTS AnomalyLog

CREATE TABLE AnomalyLog
(
    IdentifyingColumnName VARCHAR(255) NOT NULL
    , ColumnValue VARCHAR(4000) NOT NULL
    , ConcatenatedRowData VARCHAR(4000) NOT NULL
)